@use "../../global.scss";

.header {
    max-width: 78rem;

    margin: 0;
    margin: auto;

    @include global.fluid-padding(23.4375rem, 75rem, 1.5rem, 3rem);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    @include global.prevent-select;
    @include global.font-mono(1.2rem, 2rem, 700);

    color: white;
    background-color: black;

    padding: 0.7em 0.5em;
}

.header-nav {
    display: flex;
    gap: 25px;

    &-item {
        @include global.font-mono(1rem, 1.5rem, 500);

        text-decoration: none;
        color: black;
    }

    .active {
        text-decoration: underline;
    }
}