@use "../../abstracts/responsive.scss" as r;

.header {
    width: 100%;

    display: block;
}

.header-container {
    max-width: 1200px;
    height: 82px;
    width: 100%;

    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@include r.xl {
    .header-container {
        width: auto;
        margin: 0;
        margin-right: 40px;
        margin-left: 40px;
    }
}

@include r.md {
    .header-container {
        height: 72px;

        width: auto;
        margin: 0;
        margin-right: 25px;
        margin-left: 25px;
    }
}

.header-logo {
    font-family: "IBM Plex Mono";
    font-size: 32px;
    font-weight: 700;

    color: white;
    background-color: black;

    padding: 20px 15px;
}

@include r.md {
    .header-logo {
        font-size: 24px;
    }
}

.header-nav {
    display: flex;
    gap: 25px;

    &-item {
        font-family: "IBM Plex Mono";
        font-size: 24px;
        font-weight: 500;

        text-decoration: none;
        color: black;
    }

    .active {
        text-decoration: underline;
    }
}

@include r.md {
    .header-nav-item {
        font-size: 20px;
    }
}