@use "sass:math";
@use "sass:string";

/** LAYOUT **/

// Calculates fluid padding-left padding-right
@mixin padding($min-vw, $max-vw, $min-value, $max-value) {
	$factor: math.div(1, ($max-vw - $min-vw)) * ($max-value - $min-value);
	$calc-value: string.unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

    padding-left: $min-value; // Fallback for older browsers
    padding-left: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});

    padding-right: $min-value; // Fallback for older browsers
    padding-right: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
}

// Calculates fluid shadow
@mixin shadow($min-vw, $max-vw, $min-value, $max-value) {
	$factor: math.div(1, ($max-vw - $min-vw)) * ($max-value - $min-value);
	$calc-value: string.unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

    box-shadow: $min-value $min-value 0 black; // Fallback for older browsers
    box-shadow: 
        clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)}) 
        clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)}) 
        0 black;
}

// Calculates fluid value for property
@mixin property($property, $min-vw, $max-vw, $min-value, $max-value) {
	$factor: math.div(1, ($max-vw - $min-vw)) * ($max-value - $min-value);
	$calc-value: string.unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

    #{$property}: $min-value; // Fallback for older browsers
    #{$property}: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
}

/** TEXT **/

// Calculates fluid font size
// (source: https://chriskirknielsen.com/blog/modern-fluid-typography-with-clamp/)
@mixin type($min-vw, $max-vw, $min-value, $max-value) {
	$factor: math.div(1, ($max-vw - $min-vw)) * ($max-value - $min-value);
	$calc-value: string.unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

	font-size: $min-value; // Fallback for older browsers
	font-size: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
}

// Sets mono font
@mixin font-mono($min-size, $max-size, $weight) {
    font-family: "IBM Plex Mono";
    @include type(23.4375rem, 75rem, $min-size, $max-size); // 375px, 1200px
    font-weight: $weight;
}

// Sets sans font
@mixin font-sans($min-size, $max-size, $weight) {
    font-family: "Atkinson Hyperlegible";
    @include type(23.4375rem, 75rem, $min-size, $max-size); // 375px, 1200px
    font-weight: $weight;
    line-height: 150%;
}

/** ELEMENTS **/

// Sets styling for a social media element
@mixin social($color) {
    // Basic style
    text-decoration: none;
    color: black;

    // Button color
    background-color: $color;

    // Layout
    display: flex;
    justify-content: center;
    align-items: center;

    // Size
    @include property(width, 46.5rem, 75rem, 3.5rem, 4.5rem);
    @include property(height, 46.5rem, 75rem, 3.5rem, 4.5rem);

    img {
        @include property(width, 46.5rem, 75rem, 2.2rem, 2.625rem);
        @include property(height, 46.5rem, 75rem, 2.2rem, 2.625rem);
    }

    // Border
    @include property(border-radius, 46.5rem, 75rem, 0.7rem, 1rem);
    border-style: solid;
    border-color: black;
    @include property(border-width, 23.4375rem, 75rem, 0.125rem, 0.1875rem);

    // Shadow
    @include shadow(23.4375rem, 75rem, 0.125rem, 0.25rem);

    // Animation
    transition-duration: 100ms;
    transition-timing-function: ease;
    &:hover {
        transform: translate(4px, 4px);
        box-shadow: 0px 0px 0 black;
    }
}