@use "../../utils/responsive.scss";

.content {
    width: 100%;

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;

    border-top-style: solid;
    border-top-color: black;
    border-top-width: 4px;
}

@include responsive.md {
    .content {
        grid-template-columns: 1fr;
    }
}