.content {
    width: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;

    border-top-style: solid;
    border-top-color: black;
    border-top-width: 4px;
}

@media (max-width: 1000px) {
    .content {
        flex-direction: column;
    }
}