@use "sass:map";

@use "../../abstracts/color.scss";
@use "../../abstracts/responsive.scss";
@use "../../global.scss";

.hero {
    max-width: 78rem;

    margin: 0;
    margin: auto;
    margin-top: 1rem;
    @include global.fluid-property(margin-bottom, 23.4375rem, 75rem, 2rem, 4rem);

    @include global.fluid-property(padding-left, 23.4375rem, 75rem, 1.5rem, 3rem);
    @include global.fluid-property(padding-right, 46.5rem, 75rem, 0rem, 3rem);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

@include responsive.md {
    .hero {
        @include global.fluid-property(padding-right, 23.4375rem, 75rem, 1.5rem, 3rem);

        flex-direction: column;

        gap: 2rem;
        margin-top: 2rem;
    }
}

.hero-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.avatar {
    min-width: 20rem;
    @include global.fluid-property(width, 46.5rem, 75rem, 15rem, 28rem);
}

.socials {
    display: flex;
    @include global.fluid-property(gap, 46.5rem, 75rem, 1.5rem, 2rem);

    &-github {
        @include global.social(map.get(color.$colors, "slate"));
    }

    &-bluesky {
        @include global.social(map.get(color.$colors, "sky"));
    }

    &-email {
        @include global.social(map.get(color.$colors, "teal"));
    }
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    margin-bottom: 1.8rem;
    text-align: start;

    h1 {
        @include global.font-mono(0.8rem, 4.35rem, 600);

        margin: 0;
        margin-bottom: 0.05em;
    }
    p {
        @include global.font-sans(0.8rem, 1.5rem, 400);

        max-width: 45ch;

        color: #1A1A1A;
        margin: 0;
    }
}

@include responsive.md {
    .hero-text {
        margin-bottom: 1.2rem;
        text-align: center;

        h1 {
            @include global.font-mono(2rem, 5rem, 600);
        }

        p {
            @include global.font-sans(1rem, 1.5rem, 400);
        }
    }
}

.hero-cta {
    align-self: start;

    @include global.button(map.get(color.$colors, "primary" ));

    display: flex;
    align-items: center;
    justify-items: center;
    gap: 0.8em;

    p {
        white-space: nowrap;

        margin: 0;
        margin-bottom: 0.125rem;
        margin-left: 0.8em;
    }

    img {
        width: 1.8em;
        height: 1.8em;

        margin: 0;
    }
}

@include responsive.md {
    .hero-cta {
        align-self: center;
    }
}