@use "sass:map";

@use "../../abstracts/color.scss" as c;

.hero {
    max-width: 1200px;
    width: 100%;
    height: calc(100vh - 82px - 64px - 30px);

    margin: auto;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
}

.hero-right {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
    justify-content: center;
}

.avatar {
    max-width: 450px;
    max-height: 350px;
}

.socials {
    display: flex;
    gap: 32px;

    &-github {
        background-color: map.get(c.$colors, "slate");

        width: 72px;
        height: 72px;

        border-radius: 15px;
        border-style: solid;
        border-color: black;
        border-width: 3px;

        box-shadow: 2px 2px 0 black;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-bluesky {
        background-color: map.get(c.$colors, "sky");

        width: 72px;
        height: 72px;

        border-radius: 15px;
        border-style: solid;
        border-color: black;
        border-width: 3px;

        box-shadow: 2px 2px 0 black;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-email {
        background-color: map.get(c.$colors, "teal");

        width: 72px;
        height: 72px;

        border-radius: 15px;
        border-style: solid;
        border-color: black;
        border-width: 3px;

        box-shadow: 2px 2px 0 black;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    margin-bottom: 32px;

    h1 {
        font-family: "IBM Plex Mono";
        font-weight: 600;
        font-size: 75px;

        margin: 0;
        margin-bottom: 10px;
    }
    p {
        font-family: "Atkinson Hyperlegible";
        font-size: 24px;
        font-weight: 400;

        line-height: 150%;

        color: #1A1A1A;

        margin: 0;
    }
}

.hero-cta {
    align-self: start;

    color: black;
    text-decoration: none;

    padding: 14px 22px;
    background-color: map.get(c.$colors, "primary");

    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 3px;

    box-shadow: 2px 2px 0 black;

    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;

    p {
        font-family: "IBM Plex Mono";
        font-size: 24px;
        font-weight: 700;

        white-space: nowrap;

        margin: 0;
        margin-bottom: 2px;
        margin-left: 15px;
    }

    img {
        width: 40px;
        height: 40px;

        margin: 0;
    }
}