@use "sass:map";

@use "../../utils/color.scss";
@use "../../utils/responsive.scss";
@use "../../utils/fluid.scss";

.hero {
    max-width: 78rem;

    margin: 0;
    margin: auto;
    margin-top: 1rem;
    @include fluid.property(margin-bottom, 23.4375rem, 75rem, 2rem, 4rem);

    @include fluid.property(padding-left, 23.4375rem, 75rem, 1.5rem, 3rem);
    @include fluid.property(padding-right, 46.5rem, 75rem, 0rem, 3rem);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

@include responsive.md {
    .hero {
        @include fluid.property(padding-right, 23.4375rem, 75rem, 1.5rem, 3rem);

        flex-direction: column;

        gap: 2rem;
        margin-top: 2rem;
    }
}

.hero-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.avatar {
    min-width: 20rem;
    @include fluid.property(width, 46.5rem, 75rem, 15rem, 28rem);
}

.socials {
    display: flex;
    @include fluid.property(gap, 46.5rem, 75rem, 1.5rem, 2rem);

    &-github {
        background-color: map.get(color.$colors, "slate");
    }

    &-bluesky {
        background-color: map.get(color.$colors, "sky");
    }

    &-email {
        background-color: map.get(color.$colors, "teal");
    }
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    margin-bottom: 1.8rem;
    text-align: start;
}

@include responsive.md {
    .hero-text {
        margin-bottom: 1.2rem;
        text-align: center;

        h1 {
            @include fluid.font-mono(2rem, 5rem, 600);
        }

        p {
            @include fluid.font-sans(1rem, 1.5rem, 400);
        }
    }
}

.hero-cta {
    align-self: start;

    display: flex;
    align-items: center;
    justify-items: center;
    gap: 0.8em;

    p {
        white-space: nowrap;

        margin: 0;
        margin-bottom: 0.125rem;
        margin-left: 0.8em;
    }

    img {
        width: 1.8em;
        height: 1.8em;

        margin: 0;
    }
}

@include responsive.md {
    .hero-cta {
        align-self: center;
    }
}