@use "sass:map";

@use "../../abstracts/color.scss";
@use "../../abstracts/responsive.scss";
@use "../../global.scss";

.highlighted-post {
    margin: 0;
    padding: 2rem;
    @include global.fluid-property(padding-right, 23.4375rem, 75rem, 1.5rem, 3rem);

    display: flex;
    flex-direction: column;
    align-items: start;

    background-color: #fecdd3;

    border-left-style: solid;
    border-left-color: black;
    border-left-width: 0.25rem;

    h3 {
        @include global.font-mono(1.5rem, 2rem, 500);
        line-height: 2rem;

        margin: 0;
        margin-bottom: 2rem;
    }

    .post {
        max-width: 504px; ////(568-64)

        background-color: white;

        border-radius: 1rem;
        border-style: solid;
        border-color: black;
        border-width: 3px;

        box-shadow: 0.25rem 0.25rem 0 black;

        padding: 2rem;

        &-time {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            margin: 0;
            @include global.fluid-property(margin-bottom, 23.4375rem, 75rem, 0.4rem, 1rem);

            p {
                color: #666;

                @include global.font-sans(1rem, 1.25rem, 500);

                margin: 0;
            }

            img {
                @include global.fluid-property(width, 23.4375rem, 75rem, 1.2rem, 1.5rem);
                @include global.fluid-property(height, 23.4375rem, 75rem, 1.2rem, 1.5rem);

                margin: 0;
            }
        }

        &-title {
            @include global.font-mono(2rem, 3rem, 700);

            margin: 0;
            margin-bottom: 0.5em;
        }

        &-description {
            @include global.font-sans(1rem, 1.5rem, 400);
            line-height: 100%;

            margin: 0;
            margin-bottom: 32px;
        }

        &-footer {
            display: flex;
            justify-content: space-between;
            align-items: end;
        }

        &-tags {
            list-style-type: none;

            display: flex;
            gap: 10px;

            margin: 0;
            padding: 0;

            li {
                @include global.font-sans(0.8rem, 1.125rem, 400);
                line-height: 100%;

                padding: 0.5rem 1rem;
                background-color: #FAFAFA;

                border-radius: 0.5rem;
                border-style: solid;
                border-color: black;
                border-width: 2px;

                box-shadow: 3px 3px 0 black;

                transition-duration: 100ms;
                transition-timing-function: ease;
                &:hover {
                    transform: translate(3px, 3px);
                    box-shadow: 0px 0px 0 black;
                }
            }
        }

        &-cta {
            align-self: start;

            color: black;
            text-decoration: none;

            @include global.fluid-property(padding, 23.4375rem, 75rem, 0.5rem, 1rem);
            background-color: map.get(color.$colors, "primary");

            border-radius: 12px;
            border-style: solid;
            border-color: black;
            border-width: 2px;

            box-shadow: 3px 3px 0 black;

            img {
                @include global.fluid-property(width, 23.4375rem, 75rem, 1rem, 1.75rem);
                @include global.fluid-property(height, 23.4375rem, 75rem, 1rem, 1.75rem);

                margin: 0;
            }

            transition-duration: 100ms;
            transition-timing-function: ease;
            &:hover {
                transform: translate(3px, 3px);
                box-shadow: 0px 0px 0 black;
            }
        }
    }
}

@include responsive.md {
    .highlighted-post {
        // Fix border
        border-left-style: solid;
        border-left-color: black;
        border-left-width: 0;

        border-top-style: solid;
        border-top-color: black;
        border-top-width: 0.25rem;

        .post {
            // Put post in the middle
            align-self: center;
        }
        
    }
}