@use "sass:map";

@use "../../abstracts/color.scss";
@use "../../abstracts/responsive.scss";
@use "../../global.scss";

.my-skills {
    margin: 0;

    // background-color: #bbf7d0;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: end;
}

@include responsive.md {
    .my-skills {
        align-items: center;
    }
}

.my-skills .container {
    max-width: 37rem;
    
    padding: 2rem;
    @include global.fluid-property(padding-left, 23.4375rem, 75rem, 1.5rem, 3rem);

    display: flex;
    flex-direction: column;

    h3 {
        @include global.font-mono(1.5rem, 2rem, 500);
        line-height: 2rem;

        margin: 0;
        margin-bottom: 2rem;
    }

    .widget {
        display: flex;
        flex-direction: column;

        .tabs {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
    
            padding: 0;
            margin: 0;
    
            .tab {
                text-align: center;
                @include global.fluid-property(padding-top, 23.4375rem, 75rem, 0.4rem, 0.75rem);
                @include global.fluid-property(padding-bottom, 23.4375rem, 75rem, 0.4rem, 0.75rem);
                @include global.fluid-padding(23.4375rem, 75rem, 0.6rem, 1rem);
    
                background-color: white;
    
                border-radius: 0.5rem;
                @include global.fluid-property(border-width, 23.4375rem, 75rem, 0.125rem, 0.1875rem);
                border-style: solid;
                border-color: black;

                box-shadow: 3px 3px 0 black;
    
                cursor: pointer;
                white-space: nowrap;
    
                @include global.font-mono(0.8rem, 1.25rem, 500);
                line-height: 1.25rem;
    
                -webkit-user-select: none; /* Safari */
                -ms-user-select: none; /* IE 10 and IE 11 */
                user-select: none; /* Standard syntax */
    
                transition-duration: 100ms;
                transition-timing-function: ease;
            }
    
            .active {
                background-color: map.get(color.$colors, "primary");
            }
        }
    
        .tabs-content {
            list-style-type: none;
    
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            background-color: white;
    
            // border-radius: 1rem;
            // border-style: solid solid solid solid;
            // border-color: black;
            // border-width: 3px;
    
            // box-shadow: 4px 4px 0 black;
    
            // padding: 2rem;
            padding: 0;
            margin: 0;
    
            .active {
                display: flex;
            }
    
            .rust {
                background-color: #FDBA74;
            }
    
            .go {
                background-color: #7DD3FC;
            }
    
            .cpp {
                background-color: #A5B4FC;
            }
    
            .linux {
                background-color: #FDE68A;
            }
    
            .docker {
                background-color: #7DD3FC;
            }
            
            .bash {
                background-color: #F1F5F9;
            }
    
            .html {
                background-color: #FDBA74;
            }
    
            .tailwind {
                background-color: #A5F3FC;
            }
    
            .typescript {
                background-color: #7DD3FC;
            }
    
            .svelte {
                background-color: #FDBA74;
            }
    
            .git {
                background-color: #FCA5A5;
            }
    
            .hugo {
                background-color: #F9A8D4;
            }
    
            .sass {
                background-color: #FDA4AF;
            }
        }
    
        li {
            display: none;
            align-items: center;
            @include global.fluid-property(gap, 46.5rem, 75rem, 0.4rem, 0.625rem);
    
            padding: 0.5rem 1rem;
    
            border-radius: 0.5rem;
            border-style: solid;
            border-color: black;
            border-width: 2px;
    
            box-shadow: 1.5px 1.5px 0 black;
    
            h4 {
                @include global.font-sans(0.8rem, 1.125rem, 400);
    
                margin: 0;
            }
    
            img {
                @include global.fluid-property(width, 46.5rem, 75rem, 1.2rem, 1.75rem);
                @include global.fluid-property(height, 46.5rem, 75rem, 1.2rem, 1.75rem);
    
                margin: 0;
            }
        }
    }

}

@include responsive.md {
    .my-skills .container {
        max-width: none;
    }
}

// @include responsive.lg {
//     .my-skills .container {
//         .widget {
//             flex-direction: row;

//             .tabs {
//                 flex-direction: column;

//                 .tab {
//                     padding: 0.65rem 0.9rem;
//                     @include global.font-mono(0.4rem, 1.25rem, 500);
//                 }

//                 :last-child {
//                     border-radius: 0px 0px 0px 1rem;
//                     border-style: solid none solid solid;
//                     box-shadow: 0.25rem 0.25rem 0 black;
//                 }
//             }

//             .tabs-content {
//                 border-radius: 0px 1rem 1rem 0px;
//             }

//             li {
//                 padding: 0.4rem 0.9rem;

//                 h4 {
//                     @include global.font-sans(0.6rem, 1.125rem, 400);
//                 }

//                 img {
//                     @include global.fluid-property(width, 46.5rem, 75rem, 1rem, 1.75rem);
//                     @include global.fluid-property(height, 46.5rem, 75rem, 1rem, 1.75rem);
//                 }
//             }
//         }
//     }
// }

// @include responsive.md {
//     .my-skills .container {
//         .widget {
//             flex-direction: column;

//             .tabs {
//                 flex-direction: row;

//                 .tab {
//                     padding: 0.3rem 0.8rem;
//                     @include global.font-mono(0.8rem, 1.25rem, 500);
//                 }

//                 :last-child {
//                     border-radius: 0px 1rem 0px 0px;
//                     border-style: solid solid none solid;
//                     box-shadow: 0.25rem 0.25rem 0 black;
//                 }
//             }

//             .tabs-content {
//                 border-radius: 0px 0px 1rem 1rem;
//             }

//             li {
//                 padding: 0.35rem 0.8rem;

//                 h4 {
//                     @include global.font-sans(0.8rem, 1.125rem, 400);
//                 }

//                 img {
//                     @include global.fluid-property(width, 46.5rem, 75rem, 1.2rem, 1.75rem);
//                     @include global.fluid-property(height, 46.5rem, 75rem, 1.2rem, 1.75rem);
//                 }
//             }
//         }
//     }
// }