@use "sass:math";

/** LAYOUT **/

// Calculates fluid padding-left padding-right
@mixin fluid-padding($min-vw, $max-vw, $min-value, $max-value) {
	$factor: math.div(1, ($max-vw - $min-vw)) * ($max-value - $min-value);
	$calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

    padding-left: $min-value; // Fallback for older browsers
    padding-left: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});

    padding-right: $min-value; // Fallback for older browsers
    padding-right: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
}

// Calculates fluid shadow
@mixin fluid-shadow($min-vw, $max-vw, $min-value, $max-value) {
	$factor: math.div(1, ($max-vw - $min-vw)) * ($max-value - $min-value);
	$calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

    box-shadow: $min-value $min-value 0 black; // Fallback for older browsers
    box-shadow: 
        clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)}) 
        clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)}) 
        0 black;
}

// Calculates fluid value for property
@mixin fluid-property($property, $min-vw, $max-vw, $min-value, $max-value) {
	$factor: math.div(1, ($max-vw - $min-vw)) * ($max-value - $min-value);
	$calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

    #{$property}: $min-value; // Fallback for older browsers
    #{$property}: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
}

/** TEXT **/

// Prevents text from being selectable
@mixin prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

// Calculates fluid font size
// (source: https://chriskirknielsen.com/blog/modern-fluid-typography-with-clamp/)
@mixin fluid-type($min-vw, $max-vw, $min-value, $max-value) {
	$factor: math.div(1, ($max-vw - $min-vw)) * ($max-value - $min-value);
	$calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

	font-size: $min-value; // Fallback for older browsers
	font-size: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
}

// Sets mono font
@mixin font-mono($min-size, $max-size, $weight) {
    font-family: "IBM Plex Mono";
    @include fluid-type(23.4375rem, 75rem, $min-size, $max-size); // 375px, 1200px
    font-weight: $weight;
}

// Sets sans font
@mixin font-sans($min-size, $max-size, $weight) {
    font-family: "Atkinson Hyperlegible";
    @include fluid-type(375px, 1200px, $min-size, $max-size);
    font-weight: $weight;
}

/** ELEMENTS **/

// Sets styleing for a button
@mixin button($color) {
    // Basic style
    text-decoration: none;
    color: black;

    // Button color
    background-color: $color;

    // Button text
    @include font-mono(0.75rem, 1.5rem, 700);

    // Layout
    padding: 0.5em 0.9em;
    margin: 0;

    // Border
    @include fluid-property(border-radius, 46.5rem, 75rem, 0.6rem, 1rem);
    border-style: solid;
    border-color: black;
    @include fluid-property(border-width, 46.5rem, 75rem, 0.125rem, 0.1875rem);

    // Shadow
    @include fluid-shadow(46.5rem, 75rem, 0.1875rem, 0.25rem);

    // Animation
    transition-duration: 100ms;
    transition-timing-function: ease;
    &:hover {
        transform: translate(4px, 4px);
        box-shadow: 0px 0px 0 black;
    }
}