@use "sass:map";

@use "../../abstracts/color.scss" as c;

.banner {
    max-width: 1200px;
    width: 100%;

    margin: auto;
    margin-top: 55px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-right {
    
}

.banner-avatar {
    max-width: 354px;
    max-height: 281px;
}

.banner-left {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-family: "Inter";
        font-size: 128px;
        font-weight: 700;

        margin: 0;
        margin-bottom: 10px;
    }

    p {
        font-family: "Source Code Pro";
        font-size: 64px;
        font-weight: 500;

        margin: 0;
        margin-bottom: 15px;
    }
}

.banner-button {
    align-self: center; 

    text-decoration: none;
    color: black;

    font-family: "Source Code Pro";
    font-size: 36px;
    font-weight: 700;

    background-color: map.get(c.$colors, "primary" );

    padding: 10px 30px;
    margin: 0;

    border-color: black;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;

    box-shadow: 4px 4px 0 black;
}

