@use "sass:map";

@use "../../utils/color.scss";
@use "../../utils/responsive.scss";
@use "../../utils/fluid.scss";

.banner {
    max-width: 78rem;

    margin: 0;
    margin: auto;
    margin-top: 1.2rem;

    @include fluid.padding(23.4375rem, 75rem, 1.5rem, 3rem);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

@include responsive.md {
    .banner {
        flex-direction: column;
        gap: 1.2rem;
        margin-top: 1.2rem;
    }
}

.banner-right {
    min-width: 15rem;
    @include fluid.property(width, 46.5rem, 75rem, 15rem, 22rem);
}

.banner-left {
    display: flex;
    flex-direction: column;
    @include fluid.property(gap, 23.4375rem, 75rem, 1rem, 3.5rem);
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        @include fluid.font-mono(3rem, 6rem, 600);
        margin: 0;
    }

    p {
        @include fluid.font-mono(1.2rem, 4rem, 600);
        margin: 0;
    }
}

