<section class="hero">
    <div class="hero-left">
        <div class="hero-text">
            <h1>
                Hi, I’m Michelle
            </h1>
            <p>
                I am a full stack developer
            </p>
        </div>
        <a href="" class="hero-cta">
            Read My Blog
        </a>
    </div>
    <div class="hero-right">
        <img src="img/avatar.png" class="avatar" />
        <div class="socials">
            <a href="https://github.com/MichelleGranat">
                <div class="socials-github">
                    <img src="svg/github.svg" />
                </div>
            </a>
            <a href="">
                <div class="socials-bluesky">
                    <img src="svg/bluesky.svg" />
                </div>
            </a>
            <a href="">
                <div class="socials-email">
                    <img src="svg/github.svg" />
                </div>
            </a>
        </div>
    </div>
</section>