<section class="hero">
    <div class="hero-left">
        <div class="hero-text">
            <h1>
                Hi, I’m Michelle
            </h1>
            <p>
                I've been passionate about programming for almost a decade, 
                and I absolutely love diving into the low-level details of how things work. 
                I enjoy working with languages like C, C++, Go, Rust, and web technologies 
                like Svelte, TailwindCSS, JavaScript, and TypeScript.
            </p>
        </div>
        <a href="/blog" class="hero-cta">
            <p>Read My Blog</p>
            <img src="svg/chevron_right.svg" />
        </a>
        
    </div>
    <div class="hero-right">
        <img src="img/avatar.png" class="avatar" />
        <div class="socials">
            <a href="https://github.com/MichelleGranat">
                <div class="socials-github">
                    <img src="svg/github.svg" />
                </div>
            </a>
            <a href="">
                <div class="socials-bluesky">
                    <img src="svg/bluesky.svg" />
                </div>
            </a>
            <a href="">
                <div class="socials-email">
                    <img src="svg/email.svg" />
                </div>
            </a>
        </div>
    </div>
</section>