<div class="highlighted-post">
    <h3>Highlighted Post:</h3>
    <div class="post">
        <div class="post-time">
            <img src="svg/clock_icon.svg" />
            <p>November 26, 2024</p>
        </div>
        <h1 class="title-medium">
            Title of the post
        </h1>
        <p class="post-description">Description of the post</p>
        <div class="post-footer">
            <ul class="post-tags">
                <li class="tag">Rust</li>
                <li class="tag">Nix</li>
                <li class="tag">Vulkan</li>
                <li class="tag">Graphics</li>
            </ul>
            <a href="/blog" class="post-cta">
                <img src="svg/right_arrow.svg" />
            </a>
        </div>
    </div>
</div>